<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gdufe.wepoem.mapper.PoemMapper">
    <select id="selectAll" resultType="com.gdufe.wepoem.entity.PoemEntity">
        SELECT title,author,content,mean,kind FROM primary_school_poem
    </select>

    <select id="selectByKind" parameterType="string" resultType="com.gdufe.wepoem.entity.PoemEntity">
        SELECT title,author,content,mean,kind FROM primary_school_poem WHERE kind like CONCAT(#{kind},'%')
    </select>
</mapper>